Django
django-admin
django-extensions
django-guardian
django-material
django-viewflow
django-weasyprint
weasyprint
coverage
psycopg2-binary
redis
dashing
django-dashing
djangorestframework
markdown
django-filter
django-rest-swagger
django-qr-code
cython
pandas
